body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: 600px 300px 300px;
  grid-template-rows: 785px 785px 785px;
  grid-gap: 10px;
  background-color: #ffffff;
  padding: 10px;

}

.main {
  grid-column-start: 1;
  grid-column-end: 3;
}
.nav {
  grid-column-start: 3;
  grid-column-end: 5;
}

.rowpost{
  margin-left: 28em;
  margin-right: 28em;
  margin-bottom: 20px;
  display: block;
}

.nav-wrapper .blue .darken-3 .footer{
  
}